@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.logo {
  filter: invert(1);
  width: 30px;
  height: auto;
}

section {
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Outfit", sans-serif;
}

p,
span,
a {
  font-family: "Source Sans 3", sans-serif;
}

.hero {
  background-image: url(/media/fundo2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

.destaque {
  background: linear-gradient(90deg, #003fbe, #0297d5, #003fbe);
  font-weight: 800;
  -webkit-background-clip: text; /* para webkit/blink */
  background-clip: text;
  color: transparent; /* fallback */
  -webkit-text-fill-color: transparent; /* para Safari */
  /* borda sutil opcional */
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.147);
}

.destaque2 {
  background-color: #efefef;
  font-weight: 800;
  -webkit-background-clip: text; /* para webkit/blink */
  background-clip: text;
  color: transparent; /* fallback */
  -webkit-text-fill-color: transparent; /* para Safari */
  /* borda sutil opcional */
}

.bar {
  display: block;
  width: 100%;
  height: 2px;
  background: black;
  border-radius: 9999px;
  transform-origin: left center;
}

.menu-open .bar:nth-child(1) {
  transform: rotate(45deg) translate(0px, -2px);
}

.menu-open .bar:nth-child(2) {
  opacity: 0;
}

.menu-open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(0px, 2px);
}

.barra {
  width: 100vw;
  height: 250px;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.499),
    rgba(255, 255, 255, 0)
  );
}

.card {
  background: radial-gradient(
    58.69% 43.16% at 50% 87.61%,
    #003fbe 0%,
    rgb(0, 0, 0) 100%
  );
}

.logos {
  max-width: 10rem;
}

